* {
  box-sizing: border-box;
  font-family: "DM Serif Display", serif;
}

body {
  margin: 0px;
  background: linear-gradient(rgb(197, 134, 233), rgb(179, 166, 190));
}

.wrapper {
  height: 1100px;
  margin: 60px 100px;
  background-image: url(./images/Universe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.vr-image {
  height: 300px;
  width: 200px;
  border-radius: 50px;
  background-image: url(./images/VR\ Image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  position: relative;
  top: 20px;
  z-index: 10;
  margin: 150px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.menu {
  display: flex;
  width: 600px;
  justify-content: space-evenly;
}

.logo {
  font-size: 23px;
  position: relative;
  bottom: 20px;
}

.login ul {
  display: flex;
  width: 180px;
  justify-content: space-evenly;
  position: relative;
}

.signup {
  border: 3px solid rgb(114, 114, 221);
  border-radius: 15px;
  padding: 5px;
  position: relative;
  bottom: 7px;
}

h1 {
  font-size: 60px;
  position: relative;
  top: 35px;
  word-spacing: 50px;
}

.gear-up {
  font-size: 30px;
}

article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
  height: 430px;
  margin: -70px 50px;
}

.left {
  position: relative;
  bottom: 25px;
}
.right {
  background-image: url(./images/VR\ Image.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 300px;
  position: relative;
  bottom: 160px;
  border-radius: 25px;
  opacity: 0.7;
}
.playnow {
  height: 30px;
  width: 90px;
  background: radial-gradient(rgba(225, 236, 67, 0.5), rgb(99, 24, 240));
  border-radius: 10px;
  color: white;
}

.icon {
  position: relative;
  top: 7px;
  left: 7px;
}

.see-demo {
  position: relative;
  left: 10px;
}

.see-demo a {
  text-decoration: none;
  color: white;
}

.vr {
  color: rgb(104, 104, 235);
}

.info {
  height: 300px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 80px;
  margin: 0px 50px;
}

.video {
  height: 240;
  width: 300px;
  position: relative;
  left: 50px;
  top: 35px;
  border-radius: 15px;
}

video {
  position: relative;
  right: 4px;
  bottom: 5px;
  border: 3px solid rgb(104, 104, 235);
  border-radius: 15px;
}

.start-playing {
  height: auto;
  width: 600px;
}

.anchor {
  background: radial-gradient(rgba(225, 236, 67, 0.5), rgb(99, 24, 240));
  color: white;
  border-radius: 15px;
  font-size: 25px;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor a {
  color: white;
}

.qualities {
  height: auto;
  width: 180px;
  position: relative;
  right: 50px;
  display: flex;
  justify-content: center;
}

.qualities ul {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

.plus {
  font-size: 30px;
}

footer {
  height: 100px;
  margin: 35px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
}
